---
import Layout from "../layouts/Layout.astro";
const BASE = import.meta.env.BASE_URL;
---
<Layout>
<a href={BASE} class="title-link" ><img src={`${BASE}title.webp`} alt="Queer Object Archive" class="title-image" /></a>
<div id="text">
     <div id="text-inner">
         <div id="box">
			<h1>queer object archive</h1>
            <blockquote>But lo and behold! this dirty, wretched object whose purpose seemed to the world — to that concentrated delegation of the world which is the police and, above all, that particular gathering of Spanish police, smelling of garlic, sweat and oil, but prosperous-looking, stout of muscle and strong in their moral assurance — utterly vile, became extremely precious to me. - Jean Genet</blockquote>
            
			<p>The Queer Object Archive is an online collection of personal objects cherished by their queer owners. This project is a place for all objects to exist, regardless of their perceived rarity, provenance or official recognition. Seemingly ordinary objects often contain dense social, political, and personal histories. Items such as badges and quilts are deeply embedded in queer cultural expression yet have been frequently dismissed as significant objects by institutions. Q.O.A. is not just a project for the queer community, but also extends its queerness into its own methodology of archiving: if an object holds meaning for you, it belongs here. </p>
            <p>This is an online space for people to celebrate their personal histories through the objects they own, and add to the current collective queer history. The Q.O.A is just starting out and is in need of submissions! If you would like to add an object to the collection please visit the submit page for more information. </p>
		</div>
	</div>
</div>



</Layout>


<style>

    @media (max-width: 600px) {
        	#text {
    font-family: "Georgia", serif;
    text-justify: left;
    width: 100%;
    font-size: small;
  }}

    .title-image{
        display:block;
        margin-left:auto;
        margin-right:auto;
        width: 80px;
    }

	#text {
    font-family: "Georgia", serif;
    text-justify: left;
    width: 100%;
    font-size: medium;
  }


#text-inner {
  padding: 1rem;
  max-width: 85%;
  margin: 0 auto; /* centers the parent too */
}

#box {
  padding: 1.5rem;
  border: 2px double black;
  border-radius: 0px;
  justify-content: center;

  max-width: 95%;
  box-sizing: border-box;
  margin: 2rem auto;
}