
<html>
<head>
<title>about</title>
</head>
<body>

<div id="text">
     <div id="text-inner">
         <div id="box">
			<h1>submit an object!</h1>
            <h2>Thanks for being interested in the Queer Object Archive</h2>
			<p>To submit an object to the collection please send an email to queerobjectarchive@gmail.com including:</p>
            <p>> An image of the object on as plain as a background as possible</p>
          <p>> A image/ scan of a written paragraph talking about your object and what it means to you and your identity</p>  
          <p>> An image of you and your object (only if you want!) </p> 
          <p>Q.O.A. strives to be as accessible as possible, so if you need any accommodations or would like to give feedback on the project please don’t hesitate to send an email! </p>
		</div>
	</div>
</div>

<style>
	#text {
    font-family: "Georgia", serif;
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
  }


#text-inner {
  padding: 1rem;
  max-width: 85%;
}

#box {
  padding: 1.5rem;
  border: 2px double black;
  border-radius: 0px;

  max-width: 85%;
  box-sizing: border-box;
  margin: 2rem auto;

}

.text p {
  max-width: 80%;
  margin: 0 auto 1rem auto;
  padding: 1.5rem;

  font-size: clamp(0.9rem, 1.2vw, 1.2rem);

  line-height: 1.6;
}
