---
import Layout from "../layouts/Layout.astro";
const BASE = import.meta.env.BASE_URL;

---

<Layout>
<a href={BASE} class="title-link" ><img src={`${BASE}title.webp`} alt="Queer Object Archive" class="title-image" /></a>

<div id="text">
     <div id="text-inner">
         <div id="box">
			<h1>submit an object!</h1>
            <h2>Thanks for being interested in the Queer Object Archive</h2>
			<p>To submit an object to the collection please send an email to queerobjectarchive@gmail.com including:</p>
            <p>> An image of the object on as plain as a background as possible</p>
          <p>> A image/ scan of a written paragraph talking about your object and what it means to you and your identity</p>  
          <p>> An image of you and your object (only if you want!) </p> 
          <p>Q.O.A. strives to be as accessible as possible, so if you need any accommodations or would like to give feedback on the project please don’t hesitate to send an email! </p>
		</div>
	</div>
</div>
</Layout>

<style>

        @media (max-width: 600px) {
        	#text {
    font-family: "Georgia", serif;
    text-justify: left;
    width: 100%;
    font-size: small;
  }

    .title-image{
        display:block;
        margin-left:auto;
        margin-right:auto;
        width: 80px;
    }

	#text {
    font-family: "Georgia", serif;
    text-align: left;
    width: 100%;
    font-size: medium;
  }


#text-inner {
  padding: 1rem;
  max-width: 85%;
  margin: 0 auto; /* centers the parent too */
}

#box {
  padding: 1.5rem;
  border: 2px double black;
  border-radius: 0px;
  justify-content: center;

  max-width: 95%;
  box-sizing: border-box;
  margin: 2rem auto;
}

}
