<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>q.o.a.</title>
	</head>
	<body>
    <slot />
  	</body>
</html>

<style>
	.sticky-note {
	max-width: 120px;
	width: 100%;
	height: auto;
	justify-self: center;
	}
</style>

